@model IEnumerable<MasterOk.Models.ModelDataBase.Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 pb-4">
            <div class="card">
                @foreach (var items in item.NameImages)
                {
                    <img class="card-img-top" src="@Url.Action("GetImage", "Home", new {id = items.Id, typeObject="category"})" />
                }
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(item.TitleCategory, "ShowSubCategories", new{categoriesId = item.Id})</h5>
                </div>
            </div>
        </div>
    }
</div>