@model IEnumerable<MasterOk.Models.ModelDataBase.Product>
@{
    ViewData["Title"] = "ShowProducts";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 pb-4">
                        <div class="card">
                            @foreach (var items in item.NameImages)
                            {
                                <img class="card-img-top" src="@Url.Action("GetImage", "Home", new {id = items.Id, typeObject = "product"})" />
                            }
                            <div class="card-body">
                                <h5 class="card-title">@Html.ActionLink(item.TitleProduct, "Product", new{productId = item.Id})</h5>
                            </div>
                            <div class="card-footer">
                                <form asp-action="AddProductCart" asp-controller="Cart">
                                    @Html.Hidden("id", item.Id)
                                    <input type="text" name="countCart" />
                                    <input type="submit" value="Добавить" />
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
