@model MasterOk.Models.ModelDataBase.Staff

@{
    ViewData["Title"] = "Новый сотрудник";
}
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="FirstNameStaff" class="control-label"></label>
                <input asp-for="FirstNameStaff" class="form-control" />
                <span asp-validation-for="FirstNameStaff" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastNameStaff" class="control-label"></label>
                <input asp-for="LastNameStaff" class="form-control" />
                <span asp-validation-for="LastNameStaff" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" class ="form-control" asp-items="ViewBag.PositionId"></select>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

