@model MasterOk.Models.ModelDataBase.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TitleCategory" class="control-label"></label>
                <input asp-for="TitleCategory" class="form-control" />
                <span asp-validation-for="TitleCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="blockFile">
                    <input type="file" id="NameImages" name="NameImages" multiple onchange="previewImg()" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="outFile" class="row">
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" onclick="setFileUpload()" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
