@model MasterOk.Models.ModelDataBase.Category

@{
    ViewData["Title"] = "Редактирование категории";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Редактирование категории</h1>
<hr />
<div class="row">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="TitleCategory" class="control-label"></label>
                <input asp-for="TitleCategory" class="form-control" />
                <span asp-validation-for="TitleCategory" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <div id="blockFile">
                    <input type="file" id="NameImages" name="NameImages" multiple onchange="previewImg()" />
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <div id="outFile" class="row">
                @foreach (var item in Model.NameImages)
                {
                    <div class="col-md-2 d-grid gap-2" id="@item.Id">
                        <img class="img-thumbnail" src="@Url.Action("GetImage","Categories", new{id = item.Id})" />
                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteImage", "Categories", new {id = item.Id})" onclick="delPreviewImage(@item.Id)">Удалить</a>
                    </div>
                }
            </div>
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Сохранить изменения" class="btn btn-primary" onclick="setFileUpload()" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}