@model MasterOk.Models.ModelDataBase.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TitleCategory" class="control-label"></label>
                <input asp-for="TitleCategory" class="form-control" />
                <span asp-validation-for="TitleCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="blockFile">
                    <input type="file" id="NameImages" name="NameImages" multiple onchange="previewImg()" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"  onclick="setFileUpload()"/>
            </div>
        </div>
        <div class="form-group">
            <div id="outFile" class="row">
                @foreach (var item in Model.NameImages)
                {
                    <div class="col-md-2 d-grid gap-2" id="@item.Id">
                        <img class="img-thumbnail" src="@Url.Action("GetImage","Categories", new{id = item.Id})" />
                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteImage", "Categories", new {id = item.Id})" onclick="delPreviewImage(@item.Id)">Удалить</a>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}