@model MasterOk.Models.ModelDataBase.Product

@{
    ViewData["Title"] = "Добавление нового товара";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Добавление нового товара</h1>
<hr />
<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="TitleProduct" class="control-label"></label>
                <input asp-for="TitleProduct" class="form-control" />
                <span asp-validation-for="TitleProduct" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DescriptionProduct" class="control-label"></label>
                <textarea asp-for="DescriptionProduct" class="form-control" ></textarea>
                <span asp-validation-for="DescriptionProduct" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SubCategoryId" class="control-label"></label>
                <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CountStoreProduct" class="control-label"></label>
                <input asp-for="CountStoreProduct" class="form-control" />
                <span asp-validation-for="CountStoreProduct" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <div id="blockFile">
                    <input type="file" id="NameImages" name="NameImages" multiple onchange="previewImg()" />
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <div id="outFile" class="row">
            </div>
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Добавить" class="btn btn-primary" onclick="setFileUpload()" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </div>
    </form>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}