@model MasterOk.Models.ModelDataBase.Role

@{
    ViewData["Title"] = "Удаление прав доступа";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Вы действительно хотите удалить права доступа?</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleRole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValueRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValueRole)
        </dd>
    </dl>

    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
