@model MasterOk.Models.ModelDataBase.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <label>Вы вошли в систему!</label>
        <label>Пользователь: @Model.FirstLastNameStaff</label>
    </div>
</div>

