@model MasterOk.Models.ModelAuthorization.LoginModel;
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="validation"></div>
            <div>
                <div class="form-group">
                    <label asp-for="LoginEmail" class="control-label"></label>
                    <input type="text" asp-for="LoginEmail" class="form-control" />
                    <span asp-validation-for="LoginEmail" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-outline-dark" />
                </div>
            </div>
        </form>
    </div>
</div>