@model MasterOk.Models.ModelAuthorization.LoginModel;
@{
    ViewData["Title"] = "Вход в личный кабинет";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>Вход в личный кабинет</h2>
        <hr />
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="validation"></div>
            <div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" />
                </div>
                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input asp-for="InvateAdmin" class="form-check-input" /> @Html.DisplayNameFor(model=>model.InvateAdmin)
                    </label>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Войти" class="btn btn-primary" />
                    <a asp-action="Register" asp-controller="Account" role="button" class="btn btn-secondary">Регистрация</a>
                    <a asp-action="ResetPassword" asp-controller="Account" role="button" class="btn btn-outline-danger">Забыли пароль?</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="toast-container position-fixed top-50 end-0 translate-middle-y p-3">
    <div id="liveToast" class="toast bg-info" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark">
            <strong class="me-auto">Сброс пароля!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body text-dark">
            Ваш пароль - электронная почта
        </div>
    </div>
</div>

<input type="hidden" id="reset" value="@ViewBag.reset" />

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">

        const toastLiveExample = document.getElementById('liveToast');

        window.onload = function() {
            var flagReset = document.getElementById("reset").value;
            if (flagReset == true) {
                const toast = new bootstrap.Toast(toastLiveExample);
                toast.show();
            }
        }
    </script>
}