@model MasterOk.Models.ModelDataBase.StateOrder

@{
    ViewData["Title"] = "Добавить новый статус заказа";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Добавить новый статус заказа</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="TitleState" class="control-label"></label>
                <input asp-for="TitleState" class="form-control" />
                <span asp-validation-for="TitleState" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>
