@model MasterOk.Models.ModelDataBase.StateOrder

@{
    ViewData["Title"] = "Удаление способа";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Вы действительно хотите удалить статус заказа?</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleState)
        </dd>
    </dl>
    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
